body {
    background: linear-gradient(to bottom, #87CEEB, #f0f0f0); /* Céu para chão */
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Semáforo{
    width: 120px;
    height: 300px;
    background-color: black;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    position: relative;
}
 
.luz{ 
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px auto;
    background-color:#333;
    transition: background-color 1s;
}

.vermelho{background-color: red;}
.amarelo{background-color: yellow;}
.verde{background-color: green;}

